@media (max-width: 670px){
    header{
        background-image: url(./imagens/mobile01.jpg);
        background-size: 20vw 100%;
        box-sizing: border-box;
    }
    .divTxtSuperior{
        padding-top: 7vw;
    }
    .txtSuperior{
        font-size: 2.3vw;
    }
    .imgLogoPrincipal{
        display: none;
    }
    .imgLogoPrincipalMobile{
        padding-left: 8vw;
        display: block;
    }
    .logoPrincipal{
        margin-top: 30vw;
        margin-bottom: 15vw;
        margin-left: 20vw;
    }
    .titulo{
        font-size: 7vw;
        padding-left: 8vw;
    }
    .contatos{
        margin-top: 50vw;
    }
    .TelSuperior{
        font-size: 5vw;
    }
    .emailSuperior{
        font-size: 3vw;
    }
    /* parte 2 */
    main{
        background-image: none;
        box-sizing: border-box;
    }
   .computadoresIMG{
       margin-left: 10vw;
       padding-top: 5vw;
   }
    .IMGcomputador{
        width: 60vw;
        height: 30vw;
    }
    .titulos{
        margin-top: 10vw;
        font-size: 6vw;
    }
    .paragrafoNossaEmpresa{
        width: 90%;
    }
    .FaleConosco{
        width: 90%;
        padding-left: 8vw;
        display: block;
    }
    .address2{
        padding-top: 4vw;
    }
    .ServicosEDiferencial{
        display: block;
        width: 100%;
    }
    .servicos{
        width: 80%;
    }
    .imgCelulares{
        margin-left: 50%;
        width: 30vw;
    }
    .tituloClientes{
        font-size: 4vw;
    }
    .imgLogo{
        display: none;
    }
    .imgLogoMobile{
        display: block;
    }
    .imgClientes{
        padding: 3px;
        width: 15vw;
        height: 35vw;
    }
    .imgLogo{
        display: none;
    }
    .imgLogoMobile{
        display: block;
        margin-left: 5vw;
    }
}
