/* mobile */
@media only screen and (max-width: 600px) {

    /* 1 parte */
    header {
        background-image: url(./imagens/mobile01.jpg);
        background-size: 20vw 100%;
        box-sizing: border-box;
    }

    .content-btn {
        display: flex;
        justify-content: flex-end;
    }

    .divTxtSuperior {
        margin-left: 19.8vw;
    }

    .txtSuperior {
        font-size: 2.3vw;
    }

    .imgLogoPrincipal {
        display: none;
    }

    .imgLogoPrincipalMobile {
        height: 28vw;
        display: block;
    }

    .logoPrincipal {
        margin-top: 30vw;
        margin-bottom: 15vw;
        margin-left: 19.8vw;
    }

    .titulo {
        font-size: 7vw;
        margin: 0 0 0 19.8vw;
    }

    .contatos {
        margin-bottom: 3vw;
    }

    .TelSuperior {
        font-size: 5vw;
    }

    .emailSuperior {
        font-size: 3vw;
    }

    /* parte 2 */
    main {
        background-image: none;
        box-sizing: border-box;
    }

    .computadoresIMG {
        margin-left: 10vw;
        padding-top: 5vw;
    }

    .IMGcomputador {
        width: 60vw;
        height: 30vw;
    }

    .titulos {
        margin-top: 10vw;
        font-size: 6vw;
    }

    .paragrafoNossaEmpresa {
        width: 90%;
    }

    .FaleConosco {
        width: 90%;
        padding-left: 8vw;
        display: block;
    }

    .address2 {
        padding-top: 4vw;
    }

    .ServicosEDiferencial {
        display: block;
        width: 100%;
    }

    .servicos {
        width: 80%;
    }

    .imgCelulares {
        margin-left: 50%;
        width: 30vw;
    }

    .tituloClientes {
        width: 90vw;
        font-size: 3.5vw;
    }

    .controle {
        height: 20vw;
    }

    .clientes {
        width: 120vw;
    }

    .imgLogo {
        display: none;
    }

    .imgLogoMobile {
        display: block;
    }

    .imgClientes {
        padding: 3px;
        width: 15vw;
        height: 30vw;
    }

    .imgLogo {
        display: none;
    }

    .imgLogoMobile {
        display: block;
        margin-top: 8vw;
        margin-left: 5vw;
    }
}

/* tablet */
@media only screen and (max-width: 800px) and (min-width: 600px) {

    /* 1 parte */
    .divTxtSuperior {
        margin-left: 28vw;
    }

    .txtSuperior {
        font-size: 3vw;
    }

    .logoPrincipal {
        margin-left: 28vw;
    }

    .titulo {
        font-size: 6vw;
        margin: 0 0 0 28vw;
        align-items: center;
    }

    .contatos {
        margin-bottom: 3vw;
    }

    .TelSuperior {
        font-size: 5vw;
    }

    .emailSuperior {
        padding-top: 2vw;
        font-size: 3vw;
    }

    .logoFim {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    /* 2 parte */
    main {
        background-image: url(./imagens/tablet1.jpg);
    }

    .computadoresIMG {
        margin-left: 3vw;
        padding-top: 5vw;
    }

    .IMGcomputador {
        width: 60vw;
        height: 30vw;
    }

    .titulos {
        padding-top: 5vw;
        font-size: 5vw;
    }

    .paragrafoNossaEmpresa {
        width: 70%;
        font-size: 3vw;
    }

    .FaleConosco {
        display: block;
        font-size: 3vw;
    }

    .address2 {
        padding-top: 3vw;
    }

    .ServicosEDiferencial {
        display: block;
    }

    .servicos {
        width: 80%;
        font-size: 3vw;
    }

    .diferencial {
        font-size: 3vw;
    }

    .imgCelulares {
        width: 30vw;
        margin-left: 20vw;
        margin-top: 2vw;
    }

    .tituloClientes {
        font-size: 5vw;
        text-align: center;
    }

    .imgClientes {
        padding: 3px;
        width: 15vw;
        height: 28vw;
    }

    .paragrafoClientes {
        font-size: 2vw;
        text-align: center;
    }
}