@font-face{
    font-family: kollektif;
    src: url(./fontes/kollektif.ttf);
}
@font-face {
    font-family: lato;
    src: url(./fontes/lato-bold-2.ttf);
}
body{
    font-family: lato;
    margin: 0px;
    padding: 0px;
    background: #1D3387;
    color: rgb(221, 220, 220);
}
html, body{
    height: 100%;
}
header{
    height: 100%;
    text-align: center;
    background-image: url(./imagens/Predio1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
main{
    padding-left: 8vw;
    color: #1D3387;
    background: white;
    background-image: url(./imagens/predioazul.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 16vw 120vw;
}
h1{
    text-transform: uppercase;
}
/* 1 parte */
.divTxtSuperior{
    margin-left: 10.8vw;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}
.txtSuperior{
    font-family: kollektif;
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
}
.detalhe{
    margin-left: 1vw;
    width: 4vw;
    height: 0.8vw;
    background: orange;
}
.detalhe2{
    margin-left: 32vw;
    width: 3vw;
    height: 0.6vw;
    background: orange;
}
.logoPrincipal{
    margin-left: 10.8vw;
    display: flex;
    flex: 1;
    justify-content: center;
}
.imgLogoPrincipalMobile{
    display: none;
}
.contatos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
    margin-right: 5vw;
    margin-bottom: 1vw;
}
.TelSuperior{
    font-family: kollektif;
    padding-left: 10vw;
    font-size: 2vw;
}
.emailSuperior{
    margin-top: 1vw;
    font-size: 1.5vw;
}
.titulo{
    font-size: 5vw;
    text-transform: none;
    letter-spacing: 0.6vw;
    margin: 28px;
    display: flex;
    flex: 2;
    justify-content: center;
    margin-left: 10.8vw;
}

/* 2 parte */
.computadoresIMG{
    margin-left: 20vw;
    margin-bottom: 3vw;
    padding-top: 3vw;
}
.titulos{
    font-size: 2vw;
    letter-spacing: 0.4vw;
}
.paragrafoNossaEmpresa{
    width: 50vw;
    margin-bottom: 3vw;
}
.FaleConosco{
    width: 53vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: space-between;
}
.ServicosEDiferencial{
    display: flex;
    width: 55vw;
    justify-content: space-between;
}
.servicos{
    width: 20vw;
}
.imgCelulares{
    margin-left: 5vw;
    width: 15vw;
}
.tituloClientes{
    margin-top: 5vw;
    font-family: kollektif;
    color: #EE9B57;
    font-size: 2.5vw;
    letter-spacing: 1.2vw;
}
.clientes{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}
.imgClientes{
    width: 12vw;
    height: 19vw;
}
.paragrafoClientes{
    font-family: kollektif;
    width: 11vw;
    font-size: 1.3vw;
    text-align: center;
}
.logoFim{
    margin-left: 25vw;
    padding-bottom: 2vw;
}
.imgLogo{
    width: 18vw;
    height: 10vw;
}
.imgLogoMobile{
    display: none;
}