@font-face {
    font-family: kollektif;
    src: url(./fontes/kollektif.ttf);
}

@font-face {
    font-family: lato;
    src: url(./fontes/lato-bold-2.ttf);
}

body {
    font-family: lato;
    margin: 0px;
    padding: 0px;
    background: #1D3387;
    color: rgb(221, 220, 220);
}

html,
body {
    height: 100%;
}

header {
    height: 100%;
    text-align: center;
    background-image: url(./imagens/Predio1.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 8vw;
    color: #1D3387;
    background: white;
    background-image: url(./imagens/predioazul.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 16vw 120vw;
}

h1 {
    text-transform: uppercase;
}

/* 1 parte */
.containerHeader {
    display: flex;
}

.divTxtSuperior {
    margin-left: 10.8vw;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.txtSuperior {
    font-family: kollektif;
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
}

.detalhe {
    margin-left: 1vw;
    width: 4vw;
    height: 0.8vw;
    background: orange;
}

.detalhe2 {
    margin-left: 32vw;
    width: 3vw;
    height: 0.6vw;
    background: orange;
}

.logoPrincipal {
    margin-left: 10.8vw;
    margin-top: 5vw;
    display: flex;
    flex: 1;
    justify-content: center;
}

.imgLogoPrincipalMobile {
    display: none;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
    margin-right: 5vw;
    margin-bottom: 1vw;
}

.TelSuperior {
    font-family: kollektif;
    padding-left: 10vw;
    font-size: 2vw;
}

.emailSuperior {
    margin-top: 1vw;
    font-size: 1.5vw;
}

.titulo {
    font-size: 5vw;
    text-transform: none;
    letter-spacing: 0.6vw;
    margin: 28px;
    display: flex;
    flex: 2;
    justify-content: center;
    margin-left: 10.8vw;
}

.content-btn {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
}

.btn {
    background: orange;
    padding: 10px 15px;
    color: #1d3387;
    text-decoration: none;
    font-weight: bold;
}

/* 2 parte */
.computadoresIMG {
    margin-left: 20vw;
    margin-bottom: 3vw;
    padding-top: 3vw;
}

.titulos {
    font-size: 2vw;
    letter-spacing: 0.4vw;
}

.paragrafoNossaEmpresa {
    width: 50vw;
    margin-bottom: 3vw;
}

.FaleConosco {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.FaleConosco div {
    flex: 1;
}

.fab,
.fas {
    margin-right: 10px;
    font-size: 50px;
}

.ServicosEDiferencial {
    display: flex;
    width: 71vw;
    justify-content: space-between;
}

.servicos {
    flex: 2;
}

.servicos ul {
    width: 230px;
    padding: 10px;
}

.fale {
    flex: 2;
}

.diferencial {
    flex: 1;
}

.imgCelulares {
    margin-left: 5vw;
    width: 15vw;
}

.tituloClientes {
    margin-top: 5vw;
    font-family: kollektif;
    color: #EE9B57;
    font-size: 2.5vw;
    letter-spacing: 1.2vw;
}

.galeria {
    margin-right: 20vw;
}

.clientes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}

figure {
    background: transparent !important;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.controle {
    display: flex;
    justify-content: center;
}

.gallery .control-operator:target~.controls .control-button {
    color: rgba(89, 81, 199, 0.5) !important;
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target~.controls .control-button:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target~.controls .control-button:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target~.controls .control-button:nth-of-type(5) {
    color: rgba(35, 67, 155, 0.8) !important;
}

.gallery .control-button {
    font-size: 80px !important;
    color: rgba(89, 81, 199, 0.5) !important;
}

.imgClientes {
    width: 12vw;
    height: 19vw;
}

.paragrafoClientes {
    font-family: kollektif;
    width: 11vw;
    font-size: 1.3vw;
    text-align: center;
}

.logoFim {
    margin-left: 25vw;
    margin-top: 3vw;
    padding-bottom: 2vw;
}

.imgLogo {
    width: 18vw;
    height: 10vw;
}

.imgLogoMobile {
    display: none;
}

.address2 a {
    color: #1D3387;
    text-decoration: none;
}